```python
a = 2
```

In [1]:
2 < 10

True

In [2]:
(2).__lt__(10)

True

In [3]:
10 == 1

False

In [4]:
"abc" == "abc"

True

In [5]:
"abc".__eq__("abc")

True

In [6]:
a = 10
b = 20
if a < b:
    print("a < b")
else:
    print("a >= b")

a < b

In [7]:
if True:
    print("Este bloque siempre se ejecuta")

Este bloque siempre se ejecuta

In [9]:
my_list = [1, 2, 3]
print(my_list)

if my_list:
    print("my_list es truthys")

[1, 2, 3]
my_list es truthys

In [10]:
my_list = []
print(my_list)

if my_list:
    print("my_list es truthy")
else:
    print("my_list NO es truthy")

[]
my_list NO es truthy

In [11]:
my_list = [10, 20, 30, 40]
my_list

[10, 20, 30, 40]

In [12]:
my_list.pop()

40

In [13]:
my_list

[10, 20, 30]

In [15]:
my_tuple = (1, 2, 3)
my_tuple

(1, 2, 3)

In [17]:
my_tuple = 1, 2, 3
my_tuple

(1, 2, 3)

In [18]:
type(my_tuple)

tuple

In [19]:
type(True)

bool

In [20]:
my_empty_tuple = ()
my_empty_tuple

()

In [21]:
if not my_empty_tuple:
    print("Esto es vacío")

Esto es vacío

In [23]:
saludo = "Hola mundo!"
saludo

'Hola mundo!'

In [24]:
saludo = 'Hola mundo!'
saludo

'Hola mundo!'

In [28]:
"aba".replace("a", "A")

'AbA'

In [32]:
my_str = "aba"
print(hex(id(my_str)))
my_str = my_str.replace("a", "b")
print(hex(id(my_str)))

0x2670ad91350
0x2670b287360

In [33]:
my_str = "Line1\nLine2\nLine3"
print(my_str)

Line1
Line2
Line3

In [34]:
multiline = """
Line1
Line2
Line3
"""

print(multiline)

Line1
Line2
Line3

In [35]:
a = 10
"Esto es importante"

if True:
    print("Todo OK")

Todo OK

In [36]:
my_str = r"Line1\nLine2\nLine3"
print(my_str)

Line1\nLine2\nLine3

In [38]:
a = 10
b = 2
print(f"Resultado: {a}")

Resultado: 10

In [39]:
print(f"Resultado: {a*b}")

Resultado: 20

In [40]:
my_float = 0.12345
my_fstring = f"Mi flotante es {my_float:.2f}"
print(my_fstring)

Mi flotante es 0.12

In [41]:
my_float = 0.128
my_fstring = f"Mi flotante es {my_float:.2f}"
print(my_fstring)

Mi flotante es 0.13

In [42]:
my_list = [10, 20, 30]
my_list

[10, 20, 30]

In [43]:
len(my_list)

3

In [44]:
my_list.__len__()

3

In [45]:
len("Hola mundo")

10

In [46]:
len("Hola mundo\n")

11

Tupla dentro de otra tupla

In [47]:
my_seq = 3.14, "pi", (1, "Madrid")
my_seq

(3.14, 'pi', (1, 'Madrid'))

In [48]:
my_seq[0]

3.14

In [49]:
my_seq[2]

(1, 'Madrid')

In [50]:
my_seq[1]

'pi'

In [51]:
my_seq[len(my_seq)-1]

(1, 'Madrid')

In [52]:
my_seq[-1]

(1, 'Madrid')

In [53]:
print(my_seq)
my_seq[-2]

(3.14, 'pi', (1, 'Madrid'))

'pi'

In [54]:
print(my_seq)
my_seq[-3]

(3.14, 'pi', (1, 'Madrid'))

3.14

In [56]:
print(my_seq)
my_seq[-len(my_seq)]

(3.14, 'pi', (1, 'Madrid'))

3.14

In [57]:
palabra = "workbook"
palabra

'workbook'

In [58]:
palabra.__getitem__(0)

'w'

In [59]:
matrix = [
    [1, 2, 3],
    [4, 5, 6]
]
matrix

[[1, 2, 3], [4, 5, 6]]

In [60]:
matrix = [
    [1, 2, 3],
    [4, 5, 6]
]
matrix[1]

[4, 5, 6]

In [61]:
matrix = [
    [1, 2, 3],
    [4, 5, 6]
]
matrix[1][2]

6