In [1]:
my_list = [10, 20, 30, 40]
my_list

[10, 20, 30, 40]

In [2]:
my_list[1]

20

In [3]:
my_list.__getitem__(1)

20

In [4]:
my_list[0:3]

[10, 20, 30]

In [5]:
my_list = [10, 20, 30, 40]
my_list[1:]

[20, 30, 40]

In [6]:
my_list[0:3:2]

[10, 30]

In [7]:
len(my_list)

4

:2 es para que salte de dos en dos

In [8]:
my_list = [10, 20, 30, 40]
my_list[:len(my_list)+1000:2]

[10, 30]

[start:stop:step]

In [13]:
start = None
stop = 2
my_tuple = 1, 2, 3, 4
st = slice(start, stop)
my_tuple[st]

(1, 2)

In [14]:
start = None
stop = None
my_tuple = 1, 2, 3, 4
st = slice(start, stop)
my_tuple[st]

(1, 2, 3, 4)

In [15]:
my_str = "Hola mundo"
my_str[::-1]

'odnum aloH'

In [16]:
my_list = [10, 20, 30] #mutable
my_list

[10, 20, 30]

In [17]:
my_list.append(100)
my_list

[10, 20, 30, 100]

Las tuplas no se pueden modificar porque son inmutables

In [18]:
my_tuple = (10, 20, 30)
my_tuple.append(100)
my_tuple

AttributeError: 'tuple' object has no attribute 'append'

In [19]:
my_tuple = (10, 20, 30)
my_tuple[0] = 100
my_tuple

TypeError: 'tuple' object does not support item assignment

In [20]:
my_list = [10, 20, 30]
my_list[0] = 100
my_list

[100, 20, 30]

In [21]:
my_list = [10, 20, 30]
my_list, id(my_list)

([10, 20, 30], 2330189070208)

Con asignación no estamos copiando objetos, estamos copiando referencias

In [22]:
var1 = [1, 2, 3]
var2 = var1
id(var1), id(var2)

(2330189063168, 2330189063168)

In [23]:
var1 = [1, 2, 3]
var2 = var1

var1.append(100)
var1

[1, 2, 3, 100]

In [24]:
var2

[1, 2, 3, 100]

In [26]:
var1 = 2
print("Id var1 antes de suma:", id(var1))
var1 = var1 + var1
print("Id var1 después de suma", id(var1))

Id var1 antes de suma: 140706660760024
Id var1 después de suma 140706660760088

Tupla separada por comas que contiene listas

In [27]:
my_tuple = ([1, 2], [3, 4])
my_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment

Tipos inmutables que almacenan objetos mutables

In [29]:
my_tuple = ([1, 2], [3, 4])
my_tuple[0][0] = 100
my_tuple

([100, 2], [3, 4])

Slicing con :

Objetos iguales pero con diferentes referencias

In [30]:
a = [1, 2]
b = a[:]
id(a), id(b)

(2330189435008, 2330189433216)

In [31]:
a.append("Hola")
a, b

([1, 2, 'Hola'], [1, 2])

Con el operador identidad is

In [36]:
a = [1, 2]
b = a[:]

a is b

False

In [37]:
a = [1, 2]
b = a[:]
b = a
a is b

True

In [33]:
a == b

True

In [34]:
a = [1, 2, 3]
b = a.copy()
a is b

False

Lista que contiene listas

Copia superficial

In [45]:
a = [[1, 2], [3, 4]]
b = a.copy()
a is b

False

In [46]:
a[0] is b[0]

True

In [39]:
a[1][0] = 300
a

[[1, 2], [300, 4]]

In [40]:
b

[[1, 2], [300, 4]]

Función para copiar de manera independiente todos los objetos aunque estén anidados

In [47]:
from copy import deepcopy
a = [[1, 2], [3, 4]]
b = deepcopy(a)
a is b

False

In [48]:
a[0] is b[0]

False

In [49]:
a[1][0] = 300
a, b

([[1, 2], [300, 4]], [[1, 2], [3, 4]])